<div class="container">
    <div class="card">
        <div class="card-header">
            添加用户
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="username">姓名：</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="姓名" value="{{username}}">
            </div>

            <div class="form-group">
                <label for="userage">年龄：</label>
                <input type="text" id="userage" name="userage" class="form-control" placeholder="年龄" value="{{userage}}">
            </div>

            <div class="form-group">
                <label for="usersex">性别：</label>
                <input type="text" id="usersex" name="usersex" class="form-control" placeholder="性别" value="{{usersex}}">
            </div>

            <div class="form-group">
                <label for="userclass">班级：</label>
                <input type="text" id="userclass" name="userclass" class="form-control" placeholder="班级" value="{{userclass}}">
            </div>
            <input type="button" value="提交" id="btn" class="btn btn-primary btn-block">
        </div>
    </div>
</div>